:root {
  --color-00: #2d2d2d; /* black */
  --color-01: #393939; /* ... */
  --color-02: #515151;
  --color-03: #747369;
  --color-04: #a09f93;
  --color-05: #d3d0c8;
  --color-06: #e8e6df; /* ... */
  --color-07: #f2f0ec; /* white */
  --color-08: #f2777a; /* red */
  --color-09: #f99157; /* orange */
  --color-0A: #ffcc66; /* yellow */
  --color-0B: #99cc99; /* green */
  --color-0C: #66cccc; /* cyan */
  --color-0D: #6699cc; /* blue */
  --color-0E: #cc99cc; /* purple */
  --color-0F: #d27b53; /* brown */
}

body {
  color: var(--color-00);
}

/* ** CARD STYLES ** */
ul {
  list-style-type: none;
}

ul li {
  display: inline block; 
}

li.pile, li.card {
  padding: 0.25em;
  border-radius: 0.125em;
  border: 1px solid var(--color-00);
  margin: 0.25em;

  cursor: pointer;

  width: 10em;
}

li.pile {
  border-right-width: 3px;
  border-right-color: var(--color-02);
  border-right-style: double;
}

li.pile.selected-true {
  border-color: var(--color-08);
  /*border-right-color: var(--color-08);*/
}

li.pile.victory, li.card.victory {
  background: var(--color-0B);
}

li.pile.curse, li.card.curse {
  background: var(--color-0E);
}

li.pile.treasure-1, li.card.treasure-1 {
  background: var(--color-0F);
}

li.pile.treasure-2, li.card.treasure-2 {
  background: var(--color-05);
}

li.pile.treasure-3, li.card.treasure-3 {
  background: var(--color-09);
}

.cost-badge {
  background: var(--color-0A);
  display: inline-block;
  width: 1em;
  text-align: center;
  padding-top: 0.1em;
  border-radius: 0.5em;
}

.pile-count {
  color: var(--color-03);
  float: right;
}

/* ** LAYOUT ** */
#not-supply {
  display: -webkit-flex;
  display: flex;
}

#play-areas {
  -webkit-flex: 2;
          flex: 2;
  display: -webkit-flex;
  display: flex;
}

#play-areas > div {
  flex: 1;
}

#info {
  -webkit-flex: 1;
          flex: 1;
}