<div id="turn-indicator">
  {{player_name}}'s Turn
</div>
<div id="instructions">
  {{instructions}}
</div>
<div id="action-buttons">
  {{#each action_buttons}}
    {{#if disabled}}
      <button id="action-{{key}}" disabled="true">{{text}}</button>
    {{else}}
      <button id="action-{{key}}">{{text}}</button>
    {{/if}}
  {{/each}}
</div>
<div id="turn-state">
  <div>Actions: {{num_actions}}</div>
  <div>Buys: {{num_buys}}</div>
  <div>Coin: {{num_coins}}</div>
</div>
<div id="player-stats">
  <div>Deck: {{deck_size}}</div>
  <div>Hand: {{hand_size}}</div>
  <div>Discard: {{discard_size}}</div>
</div>
{{#if score_strs}}
Scores:
<ul id="scores">
  {{#each score_strs}}
  <li class="score">{{this}}</li>
  {{/each}}
</ul>
{{/if}}
